@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Fira Code",
    "Noto Sans TC",
    sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}
